section {
  border: 2px solid rgb(0, 0, 0);
  padding: 40px;
  border-radius: 30px;
  background-color: bisque;
  width: 300px;
  margin-bottom: 100px;
  margin-left: 600px;
}

.cdiv {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 80px;
  margin-bottom: 10px;
}

#button2 {
  background-color: rgb(44, 152, 44);
  padding: 30px;
  font-size: 25px;
  margin-bottom: 40px;
  border-radius: 150px;
  border: none;
}
#button1 {
  font-size: 25px;
  background-color: rgb(235, 44, 44);
  padding: 30px;
  margin-bottom: 40px;
  border-radius: 150px;
  border: none;
}
h1 {
  font-size: 30px;
}

#button3 {
  background-color: rgb(25, 128, 239);
  color: white;
  font-size: 20px;
  padding: 10px;
  margin-bottom: 40px;
  border-radius: 150px;
  border: none;
}

.container {
  height: 600px;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 400px;
  background-color: bisque;
  margin-left: 570px;
  border-radius: 30px;
}

#heading{
  margin-left: 120px;
}

form > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  padding: 20px;
}

.div2{
  display: flex;
  flex-direction: column;

 
  font-size: 21px;
  margin: 0;
  padding: 0;
}

.divitem{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 60px;
}

.input1{
  padding: 5px;
  font-size: 18px;
  border-radius: 5px;
  border: none;
}

.b1{
  padding: 6px 30px;
  font-size: 18px;
  border: none;
  background-color: rgb(244, 170, 102);
  color: white;
  border-radius: 5px;
}

p{
font-size: 22px;
}



